/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Styles
   b. Header Styles
   c. mysection Section
   d. Resume Section
   e. Portfolio Section
   f. Call To Action Section
   g. Testimonials Section
   h. Contact Section
   i. Footer

   ===================================================================== */


   /*variables*/
:root {
    --page-background-color: #2B2B2B;    
    --nav-background-color: #000;
    --nav-hover-color: #00d5ff;
/*    --text-color: #E1D9D1; */
/*    --text-color: #a1a1a1;*/

    --text-color: white;
    --text-shadow: #000 0px 0px 4px,   #000 0px 0px 4px,   #000 0px 0px 4px,
             #000 0px 0px 4px,   #000 0px 0px 4px,   #000 0px 0px 4px;
    --text-opacity-low: 0.6;
    --text-opacity-med: 0.8;
    --text-opacity-high: 0.9;

    --anchor-color: #11ABB0;
    --anchor-hover-color: blue;
    --footer-color: #303030;

}

/* ------------------------------------------------------------------ */
/* a. General Styles
/* ------------------------------------------------------------------ */

body { 
  background: #0f0f0f; 
  color: var(--text-color);
}

p {
  opacity: var(--text-opacity-med);
}

/*fix nav button being not centered/fit*/
#navbar-btn {
  margin: 0px; 
}

.container-fluid {
  padding-right: 0px;
  padding-left: 0px;
}

.row.banner {
  text-shadow: var(--text-shadow);
}

#nav-placeholder .navbar a {
  color: var(--text-color);
  padding-left: 10px;
  padding-right: 10px;
}

#navbar-logo-desktop, #navbar-logo-mobile {
  width:40px;
  vertical-align: middle;
}

nav .navbar-nav a {
  transition: 0.3s ease;
  text-decoration: none;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
/*  padding: 20px 0;*/
/*  margin: 0 5px;*/
  font-size: 17px;
}
nav .navbar-nav a:hover {
/*  border-top: 4px solid white;*/
  border-bottom: 4px solid white;
/*  padding: 6px 0; */
/*  color: grey!important;*/
}

nav .navbar-brand {
  margin: 0;
  background-image: url("https://png.pngtree.com/background/20210711/original/pngtree-cartoon-hand-drawn-wind-sunflower-poster-background-picture-image_1069936.jpg");
  background-position: center;
  border-radius: 3px;
}

nav .navbar-toggler-icon {
  height: 30px;
}

@media only screen and (max-width: 1000px) {
  .navbar {
      padding-bottom: 1rem!important;
      padding-top: 1rem!important;
  }

  #navbar-brand {
    padding: 0!important;
  }

  #navbar-logo-desktop {
    display: none;
  }

  #navbar-btn {
    background-image: url("https://png.pngtree.com/background/20210711/original/pngtree-cartoon-hand-drawn-wind-sunflower-poster-background-picture-image_1069936.jpg");
/*    background-image: url("images/bee-background.jpg")!important;*/
    background-position: center;
/*    background-position: 0px;*/
  }
}


/* ------------------------------------------------------------------ */
/* b. Header Styles
/* ------------------------------------------------------------------ */

header {
   position: relative;
   height: 800px;
   min-height: 500px;
   width: 100%;
   background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.6)
    ), url(../images/kate/flowers.jpg) no-repeat top center;
   background-size: cover !important;
   -webkit-background-size: cover !important;
   text-align: center;
   overflow: hidden;
}

/* vertically center banner section */
header:before {
   content: '';
   display: inline-block;
   vertical-align: middle;
   height: 100%;
}
header .banner {
   display: inline-block;
   vertical-align: middle;
   margin: 0 auto;
   width: 85%;
   padding-bottom: 30px;s
   text-align: center;
}

header .banner-text { width: 100%; }
header .banner-text h1 {
   font: 90px/1.1em 'opensans-bold', sans-serif;
   color: #fff;
   letter-spacing: -2px;
   margin: 0 auto 18px auto;
/*   text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);   */
}
header .banner-text h3 {
   font: 18px/1.9em 'librebaskerville-regular', serif;
   margin: 0 auto;
   width: 70%;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .5);
}
header .banner-text h3 span,
header .banner-text h3 a {
   color: #fff;
}
header .banner-text hr {
   width: 60%;
   margin: 18px auto 24px auto;
}

/* header social links */
header .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}
header .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}


/* primary navigation
--------------------------------------------------------------------- */
#nav-wrap ul, #nav-wrap li, #nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/* nav-wrap */
#nav-wrap {
   font: 12px 'opensans-bold', sans-serif;
   width: 100%;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin: 0 auto;
   z-index: 100;
   position: fixed;
   left: 0;
   top: 0;
   background-color: var(--nav-background-color);
}

/* hide toggle button */
#nav-wrap > a.mobile-btn { 
  display: none; 
  left: 0px;
}

ul#nav {
   min-height: 48px;
   width: auto;

   /* center align the menu */
   text-align: center;
}
ul#nav li {
   position: relative;
   list-style: none;
   height: 48px;
   display: inline-block;
}

/* Links */
ul#nav li a {

    /* 8px padding top + 8px padding bottom + 32px line-height = 48px */

    display: inline-block;
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: #fff;

    -webkit-transition: color .2s ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

/*ul#nav li a:active { background-color: pink !important; }
ul#nav li.current a { color: #F06000; }*/

#home h3{
  line-height: 30px;
  color: var(--text-color);
  text-shadow: var(--text-shadow);

/*    -webkit-text-fill-color: transparent;*/
/*  -webkit-text-stroke: 1px;*/
}

#home img {
   width: 40px;
   height: 40px;
   background: black;
   border-radius: 25px;
}


#mysection {
   background-color: var(--page-background-color);
   padding-top: 96px;
   padding-bottom: 66px;
   overflow: hidden;
}


/* ------------------------------------------------------------------ */
/* c. mysection Section
/* ------------------------------------------------------------------ */
#mysection h1 {
   font: 'opensans-bold', sans-serif;
   font-size: 3em;
   color: #fff;
   margin-bottom: 12px;
   border-bottom: solid 2px;
}
#mysection h1.margin-bottom, h1.margin-bottom-long {
   margin-bottom: 100px;
}
#mysection h2 {
   font: 22px/30px 'opensans-bold', sans-serif;
   color: #fff;
   margin-bottom: 12px;
}
#mysection h2.publications-year {
   text-align: left;
   text-decoration: underline;
}
#mysection p {
   line-height: 30px;
}
#nav-wrap li:hover {
  background-color: var(--nav-hover-color);
}
#mysection .publications {
   text-align: left;
}
#mysection .profile-pic {
   position: relative;
   width: 100%;
   border-radius: 100%;
   margin-top: 5%;
   margin-bottom: 10%;
}
#mysection .acknowledgements-pic {
   position: relative;
   width: 70%;
   border-radius: 100%;
   margin-bottom: 10%;
}
#mysection .video-wrapper {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#mysection .left-row {
   text-align: left;
}
#mysection .video {
  width: 100%;
  height: 500px;
  margin-bottom: 5%;
}
#mysection .centered-row {
   text-align: center;
   margin-left: 10%;
   margin-right: 10%;

   width: 96%;
   max-width: 1020px;
   margin: 0 auto;
}
#mysection .embed-document {
  width: 900px;
  height: 1000px;
}
#mysection table{
  display: flex;
  justify-content: center;
  margin-bottom: 10%
}
#mysection img{
  /*margin-top: 5%;*/
  /*height: 250px;*/
  width: 80%;
}
@media only screen and (max-width: 600px) {
  #mysection .embed-document {
    width: 90%;
    height: 450px;
}
#mysection img{
    width: 100%;
}
#mysection .video {
    /*margin-top: 5%;*/
    width: 100%;
    height: 200px;
}
#mysection .video-wrapper-margins {
    margin: 0px;
}
#mysection h1.margin-bottom, #mysection h1.course-title {
   font-size: 25px;
}
}


#mysection .fit-p {
  margin-left: 10%;
  margin-right: 10%;
}
#mysection a, #mysection a:focus {
    color: var(--anchor-color);
    text-decoration: none;
    border-bottom: 1px solid ;
}

#mysection a:hover { color: var(--anchor-hover-color); }

#mysection .low-margin-bottom {
  margin-bottom: 1px;
}
#mysection .outreach-entry {
  margin-bottom: 20%;
}
/*my-end*/
#mysection .contact-details { width: 41.66667%; }
#mysection .download {
   width: 58.33333%;
   padding-top: 6px;
}
#mysection .main-col { padding-right: 5%; }


/*dropdown*/
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--nav-background-color);
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  /*height: 100vh;*/
  /*overflow: auto;*/
}

/* Links inside the dropdown */
.dropdown .dropdown-content a {
    color: white;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: var(--nav-hover-color);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

@media only screen and (max-width: 600px) {
    .nav {
        background-color: var(--nav-background-color) !important;
        margin: 0px !important;
        height: 100vh !important;
        overflow: auto !important;
        /*z-index: 10 !important;*/
    }
    .nav .dropdown{
        text-align: left;
        width: 100%;
    }
    .nav .dropdown-content {
      display: block;
      position: absolute;
      background-color: var(--nav-background-color);
      /*z-index: 10;*/
      margin-left: 15vw;

      /*height: 100vh;*/
      /*overflow: auto;*/
  }
}


/* ------------------------------------------------------------------ */
/*  Course Page
/* ------------------------------------------------------------------ */

#mysection img.course-image {
    margin-bottom: 5%;
}
#mysection .pdflist {
  margin-bottom: 5%;
}
#mysection .pdflist .pdflist-section {
  margin-bottom: 20px;
}
#mysection .pdflist p {
  margin-bottom: 0px;
  text-align: left;
}
#mysection h2.class-detail {
  margin-bottom: 0px;
  text-align: left;
  text-decoration: underline;
}
#mysection .pdflist p.class-subdetail {
   font-weight: bold;
}

/* ------------------------------------------------------------------ */
/* i. Footer
/* ------------------------------------------------------------------ */

footer {
   padding-top: 48px;
   margin-bottom: 48px;
   color: var(--nav-background-color);
   font-size: 14px;
   text-align: center;
   position: relative;
}

footer a, footer a:visited { color: #525252; }
footer a:hover, footer a:focus { color: #fff; }

/* copyright */
footer .copyright {
    margin: 0;
    padding: 0;
}
footer .copyright li {
    display: inline-block;
    margin: 0;
    padding: 0;
    line-height: 24px;
}
.ie footer .copyright li {
   display: inline;
}
footer .copyright li:before {
    content: "\2022";
    padding-left: 10px;
    padding-right: 10px;
    color: #095153;
}
footer .copyright  li:first-child:before {
    display: none;
}

/* social links */
footer .social-links {
   margin: 18px 0 30px 0;
   padding: 0;
   font-size: 30px;
}
footer .social-links li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-left: 42px;
    color: #F06000;
}

footer .social-links li:first-child { margin-left: 0; }

/* Go To Top Button */
#go-top {
   position: absolute;
   top: -24px;
   left: 50%;
   margin-left: -30px;
}
#go-top a {
   text-decoration: none;
   border: 0 none;
   display: block;
   width: 60px;
   height: 60px;
   background-color: #525252;

   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;

   color: #fff;
   font-size: 21px;
   line-height: 60px;
   border-radius: 100%;
}
#go-top a:hover { background-color: #0F9095; }
