<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a href="#" class="navbar-brand" id='navbar-brand'>
   <img id="navbar-logo-desktop" src="images/kate/bee-favicon.png">
  </a>
  <!-- <img id='navbar-logo' src="images/kate/bee-favicon.png" alt="..."> -->
  <!-- <a class="navbar-brand" href="#"></a> -->
  <!-- <a href="#" class="navbar-left"><img src="/path/to/image.png"></a> -->
  <button class="navbar-toggler" id='navbar-btn' type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" src="images/kate/bee-favicon.png">
    <!-- <span class="navbar-toggler-icon"></span> -->
    <img id='navbar-logo-mobile' src="images/kate/bee-favicon.png" alt="...">
  </button>
  <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="index.html">Home</a>
      <a class="nav-item nav-link" href="about.html">About</a>
      <a class="nav-item nav-link" href="cv.html">CV</a>
      <a class="nav-item nav-link" href="publications.html">Publications</a>
      <a class="nav-item nav-link" href="outreach.html">Outreach</a>
      <a class="nav-item nav-link" href="acknowledgements.html">Acknowledgements</a>
      <a class="nav-item nav-link" href="pollinationecologycourse.html">Courses</a>
    </div>
  </div>
</nav>