<nav id="nav-wrap">

    <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
    <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

    <ul id="nav" class="nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="cv.html">CV</a></li>
        <li><a href="publications.html">Publications</a></li>
        <li><a href="outreach.html">Outreach</a></li>
        <li><a href="acknowledgements.html">Acknowledgements</a></li>
        <li><a href="pollinationecologycourse.html">Courses</a></li>

        <!-- dropdown nav menu entries -->
<!--         <div class="dropdown">
            <ul>
                <li><a href="#">Even More Stuff</a></li>
            </ul>
            <div class="dropdown-content">
                <a href="#">Link 1</a>
                <a href="#">Link 2 medium</a>
                <a href="#">Link 3 but it's very long haha</a>
            </div>
        </div> -->
    </ul>
    <!-- end #nav -->

</nav>
<!-- end #nav-wrap -->
