<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
<!--- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Kate Borchardt</title>
    <meta name="description" content="">
    <meta name="author" content="">

<!-- Favicons
    ================================================== -->
    <link rel="icon" type="image/png" href="/images/kate/bee-favicon.png">

<!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->

<!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/media-queries.css">
    <link rel="stylesheet" href="css/magnific-popup.css">
</head>

<body>
    <!-- Each placeholder section will be imported with JS -->
    <div id="nav-placeholder"></div>

<!-- Acknowledgements Section
    ================================================== -->
    <section id="mysection">

        <div class="centered-row">

            <h1 class="margin-bottom">Page title here</h1>
            <p>Text here</p>

        </div>
        <!-- row end -->

    </section>
    <!-- Section End-->

    <div id="footer-placeholder"></div>

<!-- Java Script
    ================================================== -->
    <script language="JavaScript" type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
    <script language="JavaScript" type="text/javascript" src="/js/placeholders.js"></script>

</body>

</html>
